.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-title-container {;

}

.note-title {
    background-color: aliceblue;
    width: 20rem;
    height: 2rem;
}

.note-body-container {

}

.note-body {
    background-color: aliceblue;
    width: 20rem;
    height: 2rem;
}

.note-btn-container {
    
}

#note-btn {
    background-color: aliceblue;
    width: 10rem;
    height: 2rem;
}

.color-1 {
    color: #FF6500;
    color: #1E3E62;
    color: #0B192C;
    color: #000000;
  }
  
  .color-2 {
    color: #181C14;
    color: #3C3D37;
    color: #697565;
    color: #ECDFCC;
  }
  
  